.HeroArea {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    background-color: rgb(240, 240, 240);
}

.icon {
    border-radius:50%;
    width: calc(20 * (1em - 0.004 * (1920px - 100vw)));
}

.name {
    font-size: calc(3 * (1em - 0.004 * (1920px - 100vw)));
    font-weight: 1000;
}