.Skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(2 * (16px - 0.004 * (1920px - 100vw)));
}

.skill-img {
    width: 8em;
    margin: calc(1 * (16px - 0.004 * (1920px - 100vw)));
}

.skill-title {
    font-size: 2em;
    margin: calc(0.5 * (16px - 0.004 * (1920px - 100vw)));
}

.skill-date {
    margin: calc(0.5 * (16px - 0.004 * (1920px - 100vw)));
}

.skill-description {
    width: 20em;
}