.SNS {
    display: flex;
    justify-content: center;
}

.sns-icon {
    border-radius:50%;
    width: calc(8 * (16px - 0.004 * (1920px - 100vw)));
    margin: calc(1 * (16px - 0.004 * (1920px - 100vw))) calc(2 * (16px - 0.004 * (1920px - 100vw))) calc(1 * (16px - 0.004 * (1920px - 100vw))) calc(2 * (16px - 0.004 * (1920px - 100vw)));
}